<h1>Find out when your SSL certificate expires.</h1>
<p class="subheading">Just type your URL below:</p>

<form action="/check/show" method="get" id="ssl_form">
<p class="subheading">https://<input type="text" name="url" id="url_input"></p>
<p class="subheading"><a href="#" onclick="formsubmit();">(then press enter)</a></p>
</form>
